// $primary: #0BCE83;

$primary: #17B169;
$info: #0853bd;
$warning: #E02D3C;
$link: #2b79ef;
$textBase: #111111;
$gray-main: #A8A8A8;
$gray-sub: #E0E0E0;
$gray-disabled: #C6C6C6;
$formDivider: #777777;
$modalDivider: #cccccc;
$white: #ffffff;