$primary: #17b169;
$info: #0853bd;
$warning: #e02d3c;
$link: #2b79ef;
$textBase: #111111;
$gray-main: #a8a8a8;
$gray-sub: #e0e0e0;
$gray-disabled: #c6c6c6;
$formDivider: #777777;
$modalDivider: #cccccc;
$white: #ffffff;
